// Light theme (default)
$cookie-consent-background-color: #fff !default;
$cookie-consent-text-color: #000 !default;
$cookie-consent-border-color: #000 !default;
$cookie-consent-checkbox-inactive-background-color: #fff !default;
$cookie-consent-checkbox-inactive-text-color: #223462 !default;
$cookie-consent-checkbox-inactive-border-color: #223462 !default;
$cookie-consent-checkbox-active-background-color: #223462 !default;
$cookie-consent-checkbox-active-text-color: #fff !default;
$cookie-consent-checkbox-active-border-color: #fff !default;
$cookie-consent-button-background: linear-gradient(349.19deg, #CF1E34 0%, #EE365F 100%) !default;
$cookie-consent-button-text-color: #fff !default;
$cookie-consent-secondary-button-background: transparent !default;
$cookie-consent-secondary-button-text-color: #000 !default;
$cookie-consent-secondary-button-border-color: #000 !default;

.cookie-consent {
  &--bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  &-dialog {
    ::backdrop {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}